/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Custom CSS */
body {
    font-family: 'Poppins', sans-serif;
}

/*------------
     Header
-------------*/
.wedding-logo {
    font-size: 22px;
    font-weight: 700;
    color: #3E3E3E;
}

.wedding-nav {
    font-size: 16px;
    font-weight: 500;
    color: #3E3E3E;
}

.wedding-nav:hover {
    color: black;
}

.wedding-toggler-icon {
    background-image: url(icons/menu-2\ 1.svg);
}

/*--------------- 
        Sider
--------------- */
.slider-head {
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
}

.slider-content {
    font-size: 16px;
    font-weight: 300;
}

.slider-button {
    font-size: 16px;
    font-weight: 700;
    color: #3F87F5;
}


/* Responsive designs */
/* // Apply styles starting from medium devices and up to extra large devices */
@media (max-width: 575px) {
    .wedding-logo {
        font-size: 1.2rem;
    }

    .slider-image {
        height: 100vh;
    }

    .slider-head {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 54px;
    }

    .slider-content {
        font-size: 1rem;
        line-height: 1.6rem;
        margin-top: 5%;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {}